<input type="text" required class="edit-box" ng-model="vm.identity.firstname" name="firstname" placeholder="{{'IDENTITY_FIRSTNAME' | translate}}" />
<input type="text" required class="edit-box" ng-model="vm.identity.lastname" name="lastname" placeholder="{{'IDENTITY_LASTNAME' | translate}}" />
<input type="text" required class="edit-box" ng-model="vm.identity.email" name="email" placeholder="{{'IDENTITY_EMAIL' | translate}}" />
<input type="text" required class="edit-box" ng-model="vm.identity.birthday" name="birthday" placeholder="{{'IDENTITY_BIRTHDAY' | translate}}" />
<input type="text" required class="edit-box" ng-model="vm.identity.streetnumber" name="streetnumber" placeholder="{{'IDENTITY_STREETNUMBER' | translate}}" />
<input type="text" required class="edit-box" ng-model="vm.identity.street" name="street" placeholder="{{'IDENTITY_STREET' | translate}}" />
<input type="text" class="edit-box" ng-model="vm.identity.street2" name="street2" placeholder="{{'IDENTITY_STREET2' | translate}}" />
<input type="text" required class="edit-box" ng-model="vm.identity.postcode" name="post-code" placeholder="{{'IDENTITY_POSTCODE' | translate}}" />
<input type="text" required class="edit-box" ng-model="vm.identity.city" name="city" placeholder="{{'IDENTITY_CITY' | translate}}" />
<input type="text" required class="edit-box" ng-model="vm.identity.country" name="country" placeholder="{{'IDENTITY_COUNTRY' | translate}}" />
<input type="text" class="edit-box" ng-model="vm.identity.phonenumber" name="home-phone" placeholder="{{'IDENTITY_PHONE' | translate}}" />
<input type="text" class="edit-box" ng-model="vm.identity.mobilenumber" name="phone" placeholder="{{'IDENTITY_MOBILE' | translate}}" />