<!doctype html>
<!-- Used to cache the files but not so easily maintainable.  manifest="tcbern.appcache" -->
<html lang="en" ng-app="tcbernApp">
<!-- The profile is required for the icon to be displayed with the title -->
<head profile="http://www.w3.org/2005/10/profile">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  
  <title>TC Bern</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../bower_components/angular-aside/dist/css/angular-aside.css">
  <link rel="stylesheet" href="css/style.css">
  
  <link rel="icon" type="image/png" href="images/favicon-94x94.png" />
  <link rel="apple-touch-icon" href="images/favicon-94x94.png" />
  <link rel="manifest" href="/manifest.json">

  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../bower_components/angular-aside/dist/js/angular-aside.js"></script>
  <script src="../bower_components/angular-translate/angular-translate.js"></script>
  <script src="../bower_components/marked/marked.min.js"></script>
  <script src="../bower_components/angular-marked/angular-marked.js"></script>
  <script src="../bower_components/lodash/lodash.js"></script>
  <script src="../bower_components/restangular/dist/restangular.js"></script>
  <script src="js/authentication.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-controller="MainCtrl">
  <div class="header">
    <!--<button ng-click="openAside()">Menu</button>-->
    <input type="image" src="images/menu-icon.png" ng-click="openAside()" alt="Menu" class="btn-menu"></button>
    <div class="header-title" >{{title | translate}}</div>
  </div>
  
  <div ui-view style="height: 300px" class="div-state">
    <p>Waiting the state to be loaded</p>
  </div>
</body>
</html>