<div class="box">
  <form>
    <ul class="boxList">
        <li class="boxElement no-bullet-list">
            <app-identity-editor identity="vm.identity"></app-identity-editor>
            <input type="submit" class="edit-box" ng-click="vm.updateIdentity()" value="{{'BTN_SAVE' | translate}}" />
        </li>
    </ul>
  </form>
  <form>
    <ul class="boxList">
        <li class="boxElement no-bullet-list">
            <input type="password" class="edit-box" ng-model="vm.password" placeholder="{{'LOGIN_PASSWORD' | translate}}" />
            <input type="password" class="edit-box" ng-model="vm.passwordRepeated" placeholder="{{'LOGIN_PASSWORD_REPEAT' | translate}}" />
            <input type="submit" class="edit-box" ng-click="vm.updateUser()" value="{{'BTN_SAVE' | translate}}" />
        </li>
    </ul>
  </form>
  <label>{{message}}</label>
</div>
