<div class="boxElement">
    <button ng-hide="vm.edit" ng-click="vm.startEdit()">Edit</button>
    <button ng-show="vm.edit" ng-click="vm.cancelEdit()">Cancel</button>
    <button ng-show="vm.edit" ng-click="vm.save()">Save</button>
    <br /><br />
    <div ng-hide="vm.edit" marked="vm.content" class="infoContent"></div>
    <input ng-show="vm.edit" type="text" ng-model="vm.content" />
</div>
<div class="boxElement">
    <h1>{{'TOURNAMENT_H1' | translate}}</h1>

    <b>Wann/when/quand?</b> 23.09.2018 (Sonntag / Sunday / Dimanche)
    <br /><br />

    <b>Wo/where/où?</b> <a target="_blank" href="https://www.google.ch/maps/place/Universit%C3%A4tssport/@46.9616345,7.4302394,17z/data=!4m5!3m4!1s0x478e399ae87ac443:0x536dedc07c613a1d!8m2!3d46.9621018!4d7.4318922">Sportzentrum der Universität Bern</a><br/>
    Bremgartenstrasse 145<br/>
    3012 Bern<br/>
    <b style="color:red">KEIN ALKOHOL/NO ALCOOL/PAS D'ALCOOL</b>
    <br /><br />

    <b>Anmeldung/registration/inscription:</b> <a href="mailto:{{vm.email}}">{{vm.email}}</a><br/>
    <b>Anmeldungfrist/registration deadline/date limite d'inscription</b> 08.09.2018
    <br /><br />

    <b>Kosten/cost/coût:</b>
    <ul>
        <li>40 CHF : vor dem 31. Juli / before the 31th of july / avant le 31 juillet</li>
        <li>50 CHF : nachher / after / après</li>
    </ul>

    <h2>FAQ</h2>
    <b>Kantine/canteen/cantine</b>
    <ul>
        <li>Mittagsgrill/Midday barbecue/Grill de midi</li>
        <li>Cakes</li>
        <li>Getränke/Drinks/Boissons</li>
        <li>Salat</li>
    </ul>
    
    <b>Unterkunft / Accomodation / Hébergement?</b>
    <ul>
        <li>http://www.youthhostel.ch/en/hostels/berne</li>
        <li>http://www.ibis.com/fr/city/hotels-berne-v0398.shtml</li>
    </ul>

</div>
