.snippet-block {
    width: 100%;
}

.snippet-view {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid #C9C9C9;
    background-color: #ffffff;
    margin: 15px;
    padding: 5px;
}

.snippet-2 {
    width: 95%;
    display: inline-block;
}

.snippet-3 {
    width: 95%;
    height: 300px;
    overflow: hidden;
    display: inline-block;
}

.welcome-block {
    width: 100%;
    position: relative;
}

.welcome-shortcut-background {
    background-color: white;
    width: 100%;
}

.welcome-shortcut-title {
    position: absolute;
    top: 220px;
    left: 25px;
}

.welcome-shortcut-block {
    position: absolute;
    top: 270px;
    font-size: large;
}

.welcome-shortcut {
    margin: 25px;
    width: 100%;
}

.welcome-shortcut-image {
    width: 48px;
    height: 48px;
    margin-right: 8px;
}

.welcome-title {
    font-size: large;
    width: 100%;
}

.clickable {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

hr {
    color: black;
}