<div>
    <!-- Header: -->
    <!-- Image(s) and link to doodle and tournament -->
    <div align="right" class="welcome-block">
        <div class="welcome-shortcut-background">
            <img src="images/welcome.jpg">
        </div>
        <h1 align="left" class="welcome-shortcut-title">TC Bern</h1>
        <!-- images for the calendar or a small view of the calendar -->
        <div align="left" class="welcome-shortcut-block">
            <div class="welcome-shortcut">
                <a href="https://doodle.com/poll/dppxhuywr26vcxhc" target="_blank"><img src="images/doodle.jpg" class="welcome-shortcut-image" />Doodle</a>
            </div>
            <div class="welcome-shortcut">
                <a href="#/tournament"><img src="images/podium.png" class="welcome-shortcut-image" />{{'MENU_TOURNAMENT' | translate}}</a>
            </div>
        </div>
    </div>

    <!-- Content: -->
    <!-- Trainings -->
    <div class="snippet-block">
        <div style="width: 100%; border-bottom: 1px solid black">
            <a href="#/training" class="welcome-title welcome-link">{{'MENU_TRAINING' | translate}}</a>
        </div>

        <div class="box">
            <ul class="boxList">
                <li class="no-bullet-list boxElement">
                    <app-editable content-key="vm.interestKey"></app-editable>
                </li>
                <li class="no-bullet-list boxElement">
                    <app-editable content-key="vm.halleBernmobilKey"></app-editable>
                </li>
            </ul>
        </div>
    </div>

    <!-- Contact -->
    <div class="snippet-block">
        <div style="width: 100%; border-bottom: 1px solid black">
            <a href="#/contact" class="welcome-title welcome-link">{{'MENU_CONTACT' | translate}}</a>
        </div>

        <div class="boxElement">
            <app-editable content-key="vm.contactKey"></app-editable>
        </div>

    </div>

    <!-- Tournament -->
    <div class="snippet-block">
        <div style="width: 100%; border-bottom: 1px solid black">
            <a href="#/tournament" class="welcome-title welcome-link">{{'MENU_TOURNAMENT' | translate}}</a>
        </div>

        <div class="boxElement">
            <app-editable content-key="vm.tournamentKey"></app-editable>
        </div>
    </div>
</div>