<div class="box">
  <form>
    <ul class="boxList">
        <li class="boxElement no-bullet-list">
            <input type="text" style="width: 100%" ng-model="vm.identity.firstname" placeholder="{{'IDENTITY_FIRSTNAME' | translate}}" />
        </li>
        <li class="boxElement no-bullet-list">
            <input type="text" style="width: 100%" ng-model="vm.identity.lastname" placeholder="{{'IDENTITY_LASTNAME' | translate}}" />
        </li>
        <li class="boxElement no-bullet-list">
            <input type="text" style="width: 100%" ng-model="vm.identity.email" placeholder="{{'IDENTITY_EMAIL' | translate}}" />
        </li>
        <li class="boxElement no-bullet-list">
            <input type="text" style="width: 100%" ng-model="vm.identity.birthday" placeholder="{{'IDENTITY_BIRTHDAY' | translate}}" />
        </li>
        <li class="boxElement no-bullet-list">
            <input type="text" style="width: 100%" ng-model="vm.identity.streetnumber" placeholder="{{'IDENTITY_STREETNUMBER' | translate}}" />
        </li>
        <li class="boxElement no-bullet-list">
            <input type="text" style="width: 100%" ng-model="vm.identity.street" placeholder="{{'IDENTITY_STREET' | translate}}" />
        </li>
        <li class="boxElement no-bullet-list">
            <input type="text" style="width: 100%" ng-model="vm.identity.street2" placeholder="{{'IDENTITY_STREET2' | translate}}" />
        </li>
        <li class="boxElement no-bullet-list">
            <input type="text" style="width: 100%" ng-model="vm.identity.postcode" placeholder="{{'IDENTITY_POSTCODE' | translate}}" />
        </li>
        <li class="boxElement no-bullet-list">
            <input type="text" style="width: 100%" ng-model="vm.identity.city" placeholder="{{'IDENTITY_CITY' | translate}}" />
        </li>
        <li class="boxElement no-bullet-list">
            <input type="text" style="width: 100%" ng-model="vm.identity.country" placeholder="{{'IDENTITY_COUNTRY' | translate}}" />
        </li>
        <li class="boxElement no-bullet-list">
            <input type="text" style="width: 100%" ng-model="vm.identity.phonenumber" placeholder="{{'IDENTITY_PHONE' | translate}}" />
        </li>
        <li class="boxElement no-bullet-list">
            <input type="text" style="width: 100%" ng-model="vm.identity.mobilenumber" placeholder="{{'IDENTITY_MOBILE' | translate}}" />
        </li>
        <li class="boxElement no-bullet-list">
            <input type="submit" ng-click="vm.updateIdentity()" value="{{'BTN_SAVE' | translate}}" />
        </li>
    </ul>
  </form>
  <form>
    <ul class="boxList">
        <li class="boxElement no-bullet-list">
            <input type="password" style="width: 100%" ng-model="vm.password" placeholder="{{'LOGIN_PASSWORD' | translate}}" />
        </li>
        <li class="boxElement no-bullet-list">
            <input type="password" style="width: 100%" ng-model="vm.passwordRepeated" placeholder="{{'LOGIN_PASSWORD_REPEAT' | translate}}" />
        </li>
        <li class="boxElement no-bullet-list">
            <input type="submit" ng-click="vm.updateUser()" value="{{'BTN_SAVE' | translate}}" />
        </li>
    </ul>
  </form>
  <label>{{message}}</label>
</div>
