<div>
  <table>
    <!--<tr>
      <td>Firstname</td>
      <td>Lastname</td>
      <td>Email</td>
      <td>Birthday</td>
      <td>Address</td>
      <td>City, Country</td>
      <td>Phone</td>
      <td>Mobile</td>-->
    </tr>
    <tr ng-repeat="identity in identityList" ng-click="go($event, identity)">
      <td>{{identity.firstname}}</td>
      <td>{{identity.lastname}}</td>
      <!--<td>{{identity.email}}</td>
      <td>{{identity.birthday}}</td>
      <td>{{identity.streetnumber}} {{identity.street}} {{identity.street2}}</td>
      <td>{{identity.postcode}} {{identity.city}}, {{identity.country}}</td>
      <td>{{identity.phonenumber}}</td>
      <td>{{identity.mobilenumber}}</td>-->
    </tr>
  </table>
  <div ui-view></div>
</div>