<div class="box">
  <table class="boxList">
    <tr class="boxElement">
      <td class="tableListCell">Firstname</td>
      <td class="tableListCell">{{identity.firstname}}</td>
    </tr>
    <tr class="boxElement">
      <td class="tableListCell">Lastname</td>
      <td class="tableListCell">{{identity.lastname}}</td>
    </tr>
    <tr class="boxElement">
      <td class="tableListCell">Email</td>
      <td class="tableListCell">{{identity.email}}</td>
    </tr>
    <tr class="boxElement">
      <td class="tableListCell">Birthday</td>
      <td class="tableListCell">{{identity.birthday}}</td>
    </tr>
    <tr class="boxElement">
      <td class="tableListCell">Address</td>
      <td class="tableListCell">{{identity.streetnumber}} {{identity.street}} {{identity.street2}}</td>
    </tr>
    <tr class="boxElement">
      <td class="tableListCell">City, Country</td>
      <td class="tableListCell">{{identity.postcode}} {{identity.city}}, {{identity.country}}</td>
    </tr>
    <tr class="boxElement">
      <td class="tableListCell">Phone</td>
      <td class="tableListCell">{{identity.phonenumber}}</td>
    </tr>
    <tr class="boxElement">
      <td class="tableListCell">Mobile</td>
      <td class="tableListCell">{{identity.mobilenumber}}</td>
    </tr>
  </table>
  <a href="#/identities">Close</a>
</div>
