<div>
  <table>
    <tr>
      <td>Firstname</td>
      <td>{{identity.firstname}}</td>
    </tr>
    <tr>
      <td>Lastname</td>
      <td>{{identity.lastname}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{identity.email}}</td>
    </tr>
    <tr>
      <td>Birthday</td>
      <td>{{identity.birthday}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{identity.streetnumber}} {{identity.street}} {{identity.street2}}</td>
    </tr>
    <tr>
      <td>City, Country</td>
      <td>{{identity.postcode}} {{identity.city}}, {{identity.country}}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{identity.phonenumber}}</td>
    </tr>
    <tr>
      <td>Mobile</td>
      <td>{{identity.mobilenumber}}</td>
    </tr>
  </table>
  <a href="#/identities">Close</a>
</div>
