<div>
  <div ng-if="authenticated == false">
    <input type="text" id="txtUsername" placeholder="{{'LOGIN_USERNAME' | translate}}" ng-model="$parent.username" class="login-text" ng-keyup="$event.keyCode == 13 && login()"></input> <br />
    <input type="password" placeholder="{{'LOGIN_PASSWORD' | translate}}" ng-model="$parent.password" class="login-text" ng-keyup="$event.keyCode == 13 && login()"></input> <br />
    <button ng-click="login()">{{'BTN_LOGIN' | translate}}</button>
  </div>
  <div ng-if="authenticated == true">
    <button ng-click="logout()">{{'BTN_LOGOUT' | translate}}</button>
  </div>
  <br />
  <label>{{message}}</input>
</div>
<script type="text/javascript">
$(function() {
  $("#txtUsername").focus();
});
</script>