<div>
    <div ng-if="vm.authenticated == false">
        <input type="text" autofocus placeholder="{{'LOGIN_USERNAME' | translate}}" ng-model="vm.username"
               class="full-login-element" ng-keyup="$event.keyCode == 13 && vm.login()"/> <br/>
        <input type="password" placeholder="{{'LOGIN_PASSWORD' | translate}}" ng-model="vm.password"
               class="full-login-element" ng-keyup="$event.keyCode == 13 && vm.login()"/> <br/>
        <button class="full-login-element" ng-click="vm.login()">{{'BTN_LOGIN' | translate}}</button>
    </div>
    <div ng-if="vm.authenticated == true">
        <button class="full-login-element" ng-click="vm.logout()">{{'BTN_LOGOUT' | translate}}</button>
    </div>
    <br/>

    <app-message message="vm.message" is-error="vm.isError"></app-message>
</div>