<div class="boxElement">
    <h1>{{'TOURNAMENT_H1' | translate}}</h1>

    <b>Wann/when/quand?</b> 25.09.2016 (Sonntag / Sunday / Dimanche)
    <br /><br />

    <b>Wo/where/où?</b> Universitätssport Bern - Bremgartenstrasse 145, 3012 Bern, Schweiz
    <br /><br />

    <b>Anmeldung/registration/inscription:</b> <a href="mailto:{{vm.email}}">{{vm.email}}</a>
    <br /><br />

    <b>Kosten/cost/coût:</b>
    <ul>
        <li>40 CHF : vor dem 31. Juli / before the 31th of july / avant le 31 juillet</li>
        <li>50 CHF : nachher / after / après</li>
    </ul>

    <h2>FAQ</h2>
    <b>Unterkunft / Accomodation / Hébergement?</b>
    <ul>
        <li>http://www.youthhostel.ch/en/hostels/berne</li>
        <li>http://www.ibis.com/fr/city/hotels-berne-v0398.shtml</li>
    </ul>

</div>
