<div class="box">
    <ul class="boxList">
        <li class="no-bullet-list boxElement">
            <h3>Interessiert?</h3>

            Kommen einfach vorbei! <a
                target="_blank" href="http://www.doodle.com/dppxhuywr26vcxhc" target="_blank">unserem Doodle</a>.
        </li>
        <li class="no-bullet-list boxElement">
            <h3>Dienstag - Bernmobil Halle</h3>

            <table>
                <tr>
                    <td class="tableListCell">20:00 - 21:45</td>
                </tr>
                <tr>
                    <td class="tableListCell"><a
                            href="https://www.google.ch/maps/place/46%C2%B056'31.8%22N+7%C2%B025'41.2%22E/@46.9421667,7.4281111,436m/data=!3m2!1e3!4b1!4m2!3m1!1s0x0:0x0?hl=de"
                            target="_blank">Tscharnerstrasse (Zugang) 3007 Bern</a></td>
                </tr>
                <tr>
                    <td class="tableListCell">
                        <b>öV</b><br />
                        ???
                    </td>
                </tr>
                <tr>
                    <td class="tableListCell">
                        <b>Auto</b><br />
                        ???
                    </td>
                </tr>
            </table>
        </li>
        <li class="no-bullet-list boxElement">
            <h3>Freitag - Schosshalde</h3>

            <table>
                <tr>
                    <td class="tableListCell">18:00 - 19:45</td>
                </tr>
                <tr>
                    <td class="tableListCell"><a
                            href="https://www.google.ch/maps/place/Schosshaldenstrasse+37,+3006+Bern/@46.9474278,7.4656385,628m/data=!3m1!1e3!4m2!3m1!1s0x478e3761e24985c5:0x156dd5a706fc1e1d?hl=de"
                            target="_blank">Schosshaldenstrasse 37, 3006 Bern</a></td>
                </tr>
                <tr>
                    <td class="tableListCell">
                        <b>öV</b><br />
                        Bus 12 richtung Zentrum Paul Klee, Station Schosshaldenstrasse
                    </td>
                </tr>
                <tr>
                    <td class="tableListCell">
                        <b>Auto</b><br />
                        Autobahnausfahrt Ostring, Weiterfahrt Richtung Wankdorf. Parkplätze sind vor dem Schulhaus vorhanden
                    </td>
                </tr>
            </table>
        </li>
    </ul>
</div>