body {
  font-family: 'Verdana',arial,sans-serif;
}

.header {
  background-color: #ef6c00;
  color: white;
  z-index: 700;
  font-size: inherit;
}
.header-title {
  display: inline-block;
  font-size: 23px;
  margin-left: 16px;
  margin-right: 24px;
  margin-top: 5px;
  vertical-align: top;
}

.btn-menu {
  width: 32px;
  height: 32px;
  margin-top: 6px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.div-state {
  padding:10px;
}

.menu-element-list {
  width: 100%;
}

.menu-element {
  width: 100%;
  cursor: pointer;
}
.menu-element:hover {
  background-color: #eeeeee;
}

.login-text {
  margin: 10px;
}

.no-bullet-list {
  list-style-type: none;
  padding: 0;
}