<div align="right" class="welcome-block">
  <div class="welcome-shortcut-background">
    <img src="assets/welcome.jpg">
  </div>
  <div class="welcome-shortcut-title">
    <img src="assets/logo.png" alt="Tchoukball Club Bern" class="welcome-shortcut-title-image" />
  </div>
  <!-- images for the calendar or a small view of the calendar -->
  <div align="left" class="welcome-shortcut-block">
    <div class="welcome-shortcut">
      <a class="clickable" href="https://nuudel.digitalcourage.de/cvUqYcur13Djmh6t" target="_blank"><img src="assets/doodle.jpg" alt="Nuudel" class="welcome-shortcut-image" />Doodle</a>
    </div>
    <div class="welcome-shortcut">
      <a class="clickable" routerLink="/" fragment="Training"><img src="assets/training.png" alt="Training" class="welcome-shortcut-image" />Training</a>
    </div>
    <div class="welcome-shortcut">
      <a class="clickable" routerLink="/" fragment="Kontakt"><img src="assets/email.png" alt="Contact" class="welcome-shortcut-image" />Contact</a>
    </div>
    <div class="welcome-shortcut">
      <a class="clickable" routerLink="/" fragment="Turnier"><img src="assets/podium.png" alt="Tournament" class="welcome-shortcut-image" />Tournament</a>
    </div>
  </div>
</div>
