.welcome-block {
  width: 100%;
  position: relative;
}

.welcome-shortcut-background {
  background-color: white;
  width: 100%;
}

.welcome-shortcut-title {
  position: absolute;
  top: 50px;
  left: 25px;
}

.welcome-shortcut-title-image {
  width: 200px;
}

.welcome-shortcut-block {
  position: absolute;
  top: 200px;
  font-size: large;
}

.welcome-shortcut {
  margin: 25px;
  width: 100%;
}

.welcome-shortcut-image {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  vertical-align: middle;
}

.clickable {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}
