h2 {
  width: 100%;
  border-bottom: 1px solid black;
}

.box {
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid #C9C9C9;
  background-color: #ffffff;
}
