<div>
    <div ng-hide="vm.canNotEdit">
        <button ng-hide="vm.edit" ng-click="vm.startEdit()">Edit</button>
        <button ng-show="vm.edit" ng-click="vm.cancelEdit()">Cancel</button>
        <button ng-show="vm.edit" ng-click="vm.save()">Save</button>
        <br />
        <br />
    </div>
    <div ng-hide="vm.edit" marked="vm.content.content" class="infoContent"></div>
    <textarea ng-show="vm.edit && !vm.preview" ng-model="vm.pageContent" />
    <div ng-show="vm.preview" marked="vm.pageContent" class="infoContent"></div>
    <div ng-hide="vm.canNotEdit">
        <button ng-show="vm.edit && !vm.preview" ng-click="vm.switchToPreview()">Preview</button>
        <button ng-show="vm.preview" ng-click="vm.backToEdit()">Edit</button>
    </div>
</div>